<html>
  <head>
    <title>Flyps - Search</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="welcome-ui">
      <img class="logo" src="">
      <h1 class="title">Flyps</h1>
      <div class="search-ui">
        <input type="text" placeholder="what do you want to search?" id="search-input">
        
        <div class="buttons-ui">
          <button class="btn" onclick="search();">Search</button>
        </div>
        
      </div>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>