


<html>
  <head>
    <title>Hikari - Results of <%=search_query%></title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    
    <div class="container">
      <div class="search-ui">
        <img class="logo-sm" src="https://lh3.google.com/u/0/ogw/ADea4I6c4Tk6PyEaR3K92oqzXFtqUsuJkSuSJT5UVZ7U=s83-c-mo">
        <input type="text" placeholder="what do you want to search?" class="search-input-brand" id="search-input" value="<%=search_query%>">
        <button class="bttn" onclick="search();">Search</button>
      </div>
      
      <span class="text-results">Results of: <%=search_query%></span>
      
      <div id="results"></div>
    </div>
    
    <script src="/js/app.js"></script>
    <script>
      let query = "<%=search_query%>";
      initSearch(query);
    </script>
  </body>     
</html>