<html>
  <head>
    <title>BrowsXR - Results of <%=search_query%></title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    
    <div class="container">
      <div class="search-ui">
        <a href="/"><img class="logo-sm" src="https://cdn-icons-png.flaticon.com/512/88/88276.png"></a>
        <input type="text" placeholder="what do you want to search?" class="search-input-brand" id="search-input" value="<%=search_query%>">
        <button class="bttn" onclick="search();">🔎</button>
      </div>
      
      <span class="text-results">Results of: <%=search_query%></span>
      
      <div id="results"></div>
    </div>
    
    <script src="/js/app.js"></script>
    <script>
      let query = "<%=search_query%>";
      initSearch(query);
    </script>
  </body>     
</html>





<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka One">
<style>
body {
  font-family: "Fredoka One", sans-serif;
}


	body {
	background: linear-gradient(-45deg, #383535, #666363, #828282, #242222);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

</style>
</head>
<body>
